@import '../../../_scss/w98/var/colors';
@import '../../../_scss/w98/functions/box-shadows';
@import '../../../_scss/w98/mixins/box-shadows';
@import '../../../_scss/w98/var/var';

@function nav-box-shadow(){
  @return
    inset 0px -1px 0px $darkgrey,
    inset -1px 0px 0px $darkgrey,
    inset 0px 0px 0px 1px white,
    -1px 0px 0px $darkgrey,
    1px 0px 0px white,
    -1px 1px 0px 0px white,
    1px 1px 0px 0px white;
}


.w98 .window--explorer, .ExplorerWindow {
  display: inline-flex;
  flex-direction: column;
  &__view {
    min-height: 20px;
    margin: 2px 1px;
    flex-grow: 1;
    background-color: white;
    @include shadow-input;
  }
  &__details {
    display: flex;
    &__section {
      box-shadow: inset -1px -1px 0px white, inset 1px 1px 0px $darkgrey;
      flex-grow: 1;
      margin-top: 2px;
      height: 16px;

      &:not(:last-child) {
        margin: 2px;
      }
    }
  }

  .window__menu {
    padding: 2px 2px 2px 12px;
  }
  >div + menu {
    margin-top: 2px;
    box-shadow: 0px 2px 0px -1px white,
      -1px 2px 0px -1px white,
      -1px 1px 0px $darkgrey,
      0px 1px 0px $darkgrey,
      nav-box-shadow(),
      -1px -1px 0px $darkgrey,
      0px -1px 0px $darkgrey,
      inset 0px 1px 0px white,
      1px -1px 0px white;
  }
  >menu {
    position: relative;

    min-height: 16px;
    padding-left: 12px;
    margin: 0px 1px;
    display: flex;
    box-shadow: nav-box-shadow();
    &:before {
      position: absolute;
      top: 3px;
      left: 5px;
      height: calc(100% - 6px);
      width: 3px;
      background-color: $grey;
      content: '';
      box-shadow: dualShadow(white, $darkgrey);
    }
  }
  >footer {
    display: flex;
    >div {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      min-width: 0px; // hack to prevent overflow
      flex-grow: 1;
      padding: 2px;
      height: 12px;
      box-shadow: dualShadow($black, white);
      &:not(:last-child) {
        margin-right: 2px;
      }
      &:last-child {
        padding-right: 12px;
      }
    }
  }
  &__address {
    display: flex;
    height: 22px;
    overflow-y: visible;
    &__title {
      align-self: center;
      margin-right: 4px;
    }
    .Select {
      flex-grow: 1;
      z-index: 5;
      margin-right: 4px;
      margin-top: 1px;
    }
  }
  &__options {
    display: flex;
    padding: 2px 8px 2px 12px;
  }
  >div:last-child {
    margin-top: 2px;
  }
}
