@import '../colors';
@import '../ListMenu/_list-menu';

.StartMenu {
  position: relative;
  &__primary {
    transition: max-width cubic-bezier(0.38, 0.01, 0, 1) 200ms,
      max-height cubic-bezier(0.38, 0.01, 0, 1) 200ms;
    position: absolute;
    bottom: calc(100% + 1px);
    left: 1px;
    visibility: hidden;
    max-height: 0px;
    padding-left: 22px;
    &:after {
      display: block;
      position: absolute;
      left: 3px;
      top: 3px;
      height: calc(100% - 6px);
      width: 20px;
      background-color: $blue;
    }
    >.ListItem {
      display: flex;
      align-items: center;
      margin-left: 20px;
      >.ListItem__button {
        height: 24px;
        padding-left: 28px;
        background-size: 22px;
        background-position: 4px center;
      }
      .ListMenu {
        display: none;
      }
    }
  }

  .btn--start {
    &:active, &:focus {
      + .StartMenu__primary {
        visibility: visible;
        max-height: 100vh;
        padding: 3px;
        .ListItem .ListItem, .ListItem .ListMenu {
          display: flex;
        }
      }
    }
  }
}
