@import '../colors';
@import '../box-shadows';

.MenuBar {
  display: flex;
  padding: 2px 0px;
  font-size: 1rem;

  &__section{
    position: relative;

    >button {
      padding: 0px 4px;
      outline: none;
      border: none;
      user-select: none;
      color: $black;
      display: inline-block;
      background-color: rgba(0,0,0,0);
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
      padding: 3px 6px;

      + .MenuBar__dropdown{
        visibility: hidden;
        position: absolute;
        max-height: 0px;
        top: calc(100% + 1px);
        left: 0px;
        width: 128px;
        transition: max-height linear 750ms;
      }

      &:hover {
        @include shadow-darkgrey-white;
      }

      &:active, &:focus, &:active:focus {
        @include shadow-white-darkgrey;
        padding: 4px 5px 2px 7px;

        + .MenuBar__dropdown {
          visibility: visible;
          max-height: 480px;
        }
      }
    }
  }
}

