@import '../var/var';

@function px($scale, $a, $b: '', $c: '', $d: '') {
  @if ($b == '') {
    @return $a*$scale*1px;
  } @else if ($c == '') {
    @return $a*$scale*1px $b*$scale*1px;
  } @else if ($d == ''){
    @return $a*$scale*1px $b*$scale*1px $c*$scale*1px;
  } @else {
    @return $a*$scale*1px $b*$scale*1px $c*$scale*1px $d*$scale*1px;
  }
}
