@import '../../_scss/w98/var/colors';
@import '../../_scss/w98/mixins/box-shadows';
@import '../../_scss/w98/functions/box-shadows';
@import '../../_scss/w98/var/var';
@import '../../_scss/w98/var/uris';

@mixin select-hover {
  outline: 1px dotted white;
  outline-offset: -1px;
  background-color: $blue;
  color: white;
}

.w98 {
  // .SelectMultiple {
  //   display: inline-block;
  //   padding: 2px;
  //   @include shadow-input;
  //   >select[multiple] {
  //     padding: 0px;
  //     box-shadow: none;
  //   }
  //   ::-webkit-scrollbar {
  //     display: none;
  //   }
  // }

  $select-height: 16px;

  .Select {
    position: relative;
    .Select-control {
      width: 100%;
      .Select-multi-value-wrapper {
        .Select-input, .Select-placeholder, .Select-value{
          width: calc(100% - 4px);
        }
        .Select-input {
          display: none !important;
        }
        .Select-value, .Select-placeholder {
          height: $select-height;
          background-color: white;
          border: none;
          @include shadow-input;
          padding: 2px;
          .Select-value-label>div {
            margin: 1px;
            margin-right: $select-height + 1px;
            padding-left: 1px;
            outline: 1px dotted rgba(0,0,0,0);
          }
          &:active, &:focus {
            .Select-value-label>div {
              @include select-hover();
            }
          }
        }
        .Select-placeholder {
          display: flex;
          align-items: center;
          padding: 2px 0px 2px 4px;
        }
      }
      .Select-arrow-zone {
        position: absolute;
        box-shadow: dualShadow($grey, $black), dualShadow(white, $darkgrey, 2);
        height: $select-height;
        width: $select-height;
        left: calc(100% - 18px);
        top: 2px;
        background-color: $grey;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url($arrow-down);
      }
      .Select-clear-zone {
        display: none;
      }
    }
    .Select-menu-outer {
      border: 1px solid black;
      background-color: white;
      .Select-menu {
        .Select-option {
          padding: 1px;
          &:hover {
            @include select-hover();
          }
          .is-focused {

          }
        }
      }
    }
    &.is-disabled {
      pointer-events: none;
      .Select-control{
        .Select-multi-value-wrapper {
          .Select-value, .Select-placeholder {
            background-color: $grey;
          }
        }
        .Select-arrow-zone {
          &:after {
            background-image: url($arrow-down-disabled);
          }
        }
      }
    }
  }
}
