@import '../colors';
@import '../box-shadows';

input[type=checkbox], input[type=radio] {
  opacity: 0;
  display: none;
  cursor: pointer;
  + label {
    position: relative;
    padding-left: 16px;
    padding-top: 2px;
    >span, >div {
      display: inline-block;
      border: 1px solid rgba(0,0,0,0);
    }
    &:before {
      content: '';
      position: absolute;
      left: 0px;
      width: 20px;
      height: 16px;
      background-repeat: no-repeat;
    }
  }
  &:checked {
    + label {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      &:before {
      }
    }
    &:active &:focus, &:active:focus {
      >span, >div {
        border: 1px dotted black;
      }
    }
  }
  &:disabled {
    +label {
      color: $darkgrey;
    }
  }
}
input[type=checkbox] {
  + label:before {
    width: 13px;
    height: 13px;
    background-color: white;
    @include shadow-input
  }
  &:checked +label:before {
    background-image: url('../images/menu-checked.gif');
    background-position: center;
    background-size: 8px;
  }
  &:disabled {
    +label:before {
      background-color: $grey;
    }
    &:checked +label:before {
      background-image: url('../images/menu-checked-disabled.gif');
    }
  }
}
input[type=radio] {
  + label:before {
    background-image: url('../images/radio-off.gif');
  }
  &:checked {
    + label {
      &:before {
        background-image: url('../images/radio-on.gif');
      }
    }
  }
  &:disabled {
    + label:before {
      background-image: url('../images/radio-off-disabled.gif');
    }
    &:checked {
      + label {
        &:before {
          background-image: url('../images/radio-on-disabled.gif');
        }
      }
    }
  }
}
