@import '../colors';
@import '../box-shadows';
@import '../vars';

input[type=text] {
  position: relative;
  padding: 3px 3px 6px 3px;
  font-size: $base-font-size;
  border: none;
  @include shadow-input;

  &:active, &:focus {
    outline: none;
  }
  &:disabled{
    background-color: $grey;
  }
}
