@import './var/colors';
@import './mixins/box-shadows';
@import './var/var';

$start: 'data:image/gif;base64,R0lGODlhNAATAKIAAAAAAP///wAA/wD/AP//AP8AAP///wAAACH5BAEAAAYALAAAAAA0ABMAAAOPaLrc/jDKSaudIIPLu95dKH2fGIKLVmSDxpTms83qCgwtmik7j46/BglQsOF6BuQrCFEuCkLiJ5diJnswl6sB7dqGSpjPscNaFcWiRpAhbKPVqhbkVAiiAjaA4LYizWOADneEenltfXFXioCCD3mHAHptYW9jV3OKL1FgZzEySZiVnp8yYkKlFyRNqa2uEgkAOw==';

.btn:not(.no-style) {
  border: 0px solid transparent;
  background-color: $grey;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:disabled, &.disabled {
    pointer-events: none;
  }

  &:active, &:focus, &:active:focus, &.active, &.clicked {
    outline: none;
    color: inherit;
  }

  &::before, &::after {
    position: absolute;
    display: block;
    content: '';
  }

  &::before {
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
  }

  &::after{
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
  }

  &.btn--program {
    flex: 1;
    margin: 0px 1px;
    height: 22px;
    max-width: 140px;
    min-width: 40px;
    display: inline-block;
    width: 100%;
    padding-top: 2px;
    padding-left: 22px;
    padding-right: 3px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    @include shadow-black-white;

    &:before {
      @include shadow-darkgrey-grey;
    }

    &:active:focus, &.btn--active, &.clicked {
      background-position: 5px 5px;
      @include shadow-white-black;
      padding-top: 3px;
      padding-left: 23px;
      padding-right: 2px;

      &::before {
        @include shadow-grey-darkgrey;
      }

      &:before {
        background-size: 2px;
        z-index: -1;
        box-shadow: none;
      }
    }

    &.btn--active {
      background-color: transparent;
      font-weight: bold;

      &:before {
        background-color: white;
        background-image: url('../../images/rgba-204-204-204-85.png');
      }
    }
  }

  &.btn--small-icon {
    height: 22px;
    width: 22px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 3px 3px;

    &:hover {
      @include shadow-darkgrey-white;
    }
    &:hover:focus:active, &:hover:active, &.active, &.clicked {
      @include shadow-white-darkgrey;
      background-position: 4px 4px;
    }
    &.btn--disabled {
      filter: grayscale(1);
    }
  }

  &.btn--start{
    @include shadow-black-white;
    height: 22px;
    display: flex;
    align-content: center;
    width: 54px;
    padding-right: 6px;
    background-image: url($start);
    background-size: auto 18px;
    background-repeat: no-repeat;
    background-position: 2px 1px;

    &__text {
      font-size: 1rem;
      font-weight: bold;
    }

    &::before {
      @include shadow-darkgrey-grey;
    }

    &:active, &:focus, &:active:focus, &.active, &.clicked {
      @include shadow-white-black-start;
      background-position: 3px 2px;
      outline: 1px dotted black;
      outline-offset: -4px;

      &::before {
        @include shadow-grey-darkgrey;
      }
    }
  }

  &.btn--nav{
    padding: 0px;
    min-width: initial;
    width: 16px;
    height: 14px;
    margin-left: 1px;
    image-rendering: pixelated;
    @include shadow-black-white;

    &:before {
      @include shadow-darkgrey-grey;
    }

    img {
      height: 14px;
      width: 14px;
    }

    &:focus {
      outline: none;
      border: none;

      &:after {
        box-shadow: none;
      }
    }

    &:active:focus, &.clicked {
      padding-top: 2px;
      padding-bottom: 1px;
      padding-left: 4px;
      padding-right: 8px;
      @include shadow-white-black;

      &:before {
        @include shadow-grey-darkgrey;
      }
    }
    &.window__close {
      margin-left: 2px;
    }
  }

  &.btn--form{
    min-width: 80px;
    padding: 5px 0px;
    @include shadow-darkgrey-grey;

    &:after{
      @include shadow-black-white;
    }

    &:focus {
      outline: black;
      outline-style: dotted;
      outline-offset: -5px;
      outline-width: 1px;
      -moz-outline-radius: 2px;
      @include shadow-black-white;

      &:after {
        @include shadow-black;
      }
    }

    &:active:focus, &:active, &.active, &.clicked{
      padding: 6px 0px 4px 3px;
      @include shadow-darkgrey;

      &::after {
        @include shadow-black;
      }
    }
  }

  &.btn--large-icon {
    background-size: 20px;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    padding: 24px 2px 2px;
    width: 48px;
    filter: grayscale(1);

    &:disabled, &.disabled {
      color: $darkgrey;
      &:hover {
        filter: grayscale(1);
        box-shadow: none;
      }
    }

    &:hover {
      filter: grayscale(0);
      @include shadow-black-white();
    }

    &:active:focus {
      background-position: calc(50% + 1px) calc(25% + 1px);
      @include shadow-white-black;
      padding: 25px 1px 1px 3px;
    }
  }
}
