@import './var/colors';
@import './mixins/box-shadows';
@import './var/var';
@import './var/uris';

.w98 .task-bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  max-width: 100%;
  z-index: 10;
  box-shadow: 0px -1px 0px white;
  padding: 2px 0px;
  display: flex;

  >div, >button{
    position: relative;
    height: 22px;
    margin: 0px 2px;
  }
  &__programs {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: nowrap;
    margin-right: 4px;
    min-width: 42px;

    &:before {
      display: none;
    }
  }

  &__start {
    position: relative;
    >button {
      @include shadow-black-white;
      height: 22px;
      display: flex;
      align-content: center;
      width: 52px;
      padding-right: 6px;
      background-image: url('../../images/start-trans.png');
      background-size: auto 18px;
      background-repeat: no-repeat;
      background-position: 2px 1px;

      &__text {
        font-size: 1rem;
        font-weight: bold;
      }

      + div {
        transition: max-height linear 200ms;
        position: fixed;
        bottom: 25px;
        left: 2px;
        visibility: hidden;
        max-height: 0px;
        padding-left: 22px;
        >.divider, >div:empty {
          margin-left: 24px;
          width: calc(100% - 26px);
        }
        &:after {
          display: block;
          position: absolute;
          left: 3px;
          top: 3px;
          height: calc(100% - 6px);
          width: 20px;
          background: $blue;
          background: linear-gradient($blue, #126fc2);
          background: url($w98-text) no-repeat bottom 3px center, linear-gradient($blue, #126fc2);
        }
        >div {
          display: flex;
          align-items: center;
          margin-left: 20px;
          >button {
            height: 32px;
            padding-left: 32px;
            background-size: 22px;
            background-position: 4px center;
          }
          .window {
            display: none;
          }
        }
      }

      &::before {
        @include shadow-darkgrey-grey;
      }

      &:active, &:focus, &:active:focus, &.active, &.clicked {
        @include shadow-white-black-start;
        background-position: 3px 2px;
        outline: 1px dotted black;
        outline-offset: -4px;

        &::before {
          @include shadow-grey-darkgrey;
        }
        + div {
          visibility: visible;
          max-height: 100vh;
          padding: 3px;
          div {
            display: flex;
          }
        }
      }
    }
  }

  &--notifications {
    background-color: $grey;
    display: flex;
    flex: none;
    margin-left: auto;
    align-items: center;
    height: 22px;
    padding: 0px 8px 0px 4px;

    @include shadow-white-darkgrey;

    &__time {
      margin-left: 4px;
    }

    &__notifier {
      height: 16px;
      width: 16px;
      background-color: $grey;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border: none;
      &:active, &:focus, &:active:focus, &.active, &.clicked {
        outline: none;
        border: none;
      }
    }
  }

  >div:not(:last-child){
    padding: 0px 6px;
    &:first-child {
      padding: 0px 3px 0px 0px;
    }
    &::after{
      position: absolute;
      top: 1px;
      right: 0px;
      height: calc(100% - 2px);
      width: 1px;
      background-color: $darkgrey;
      content: '';
      box-shadow: 1px 0px 0px white;
    }
    &::before{
      position: absolute;
      top: 3px;
      right: -6px;
      height: calc(100% - 6px);
      width: 3px;
      background-color: $grey;
      content: '';
      @include shadow-darkgrey-white
    }
  }
}

