@import '../colors';

.explorer-icon {
  width: 58px;
  height: 44px;
  padding: 6px 5px;
  text-align: center;

  .icon__icon {
    width: 100%;
    height: 100%;
  }

  .icon__text {
    position: absolute;
    top: 40px;
    left: 0px;
    padding: 2px;
    max-height: 22px;
    width: calc(100% - 4px);
    overflow-y: hidden;
    display: inline-block;
  }

  &:focus, &:active {
    .icon__text{
      max-height: initial;
    }
  }
}
