@import '../colors';
@import '../vars';
@import '../box-shadows';

@mixin onDisplay($direction: 'right') {
  >.window {
    position: absolute;
    visibility: hidden;
    width: 100%;
    transition: max-width cubic-bezier(0.38, 0.01, 0, 1) 200ms,
      max-height cubic-bezier(0.38, 0.01, 0, 1) 200ms;
  }
  @if $direction  == 'right' {
    >.window {
      left: 100%;
      top: -1px;
      width: 100%;
      max-width: 0%;
    }
    &:hover {
      >.window {
        max-width: 100%;
      }
    }
  } @else if $direction  == 'left' {
    >.window {
      left: calc(-100%);
      top: -1px;
      width: 100%;
      max-width: 0%;
    }
    &:hover {
      >.window {
        max-width: 100%;
      }
    }
  } @else if $direction  == 'top' {
    >.window {
      bottom: calc(100% + 1px);
      left: 0px;
      height: 0px;
      max-height: 0%;
      max-width: 100%;
    }
    &:hover {
      >.window {
        height: initial;
        max-height: 100%;
      }
    }
  } @else if $direction  == 'bottom' {
    >.window {
      top: calc(100% + 1px);
      left: 0px;
      max-height: 0%;
      max-width: 100%;
    }
    &:hover {
      >.window {
        height: initial;
        max-height: 100%;
      }
    }
  }
}

.ListMenu {
  word-wrap: none;
  white-space: nowrap;
  text-overflow: clip;
  .ListItem {
    position: relative;
    &__button {
      position: relative;
      display: block;
      width: 100%;
      text-align: left;
      padding: 4px;
      background-repeat: no-repeat;
      background-color: rgba(0,0,0,0);
      border: none;
      outline: none;
      &:hover {
        color: white;
      }
    }
    &--has-options{
      &:after {
        content: '';
        position: absolute;
        background-image: url('../images/arrow-right.gif');
        left: 80%;
        top: 0px;
        height: 100%;
        width: 22px;
        background-position: right center;
        background-repeat: no-repeat;
      }
      &:hover{
        &:after {
          background-image: url('../images/arrow-right-inverted.gif');
        }
      }
    }
    &:hover, &:active, &:focus {
      color: white;
      background-color: $blue;
      >.ListItem__button {
        color: white;
      }
    }
  }
  .divider {
    position: relative;
    width: 93%;
    margin: 2px auto;
    border-top: 1px solid $darkgrey;
    border-bottom: 1px solid white;
    display: none;
  }
  .ListItem + .divider {
    &:not(:last-child):not(:first-child) {
      display: block;
    }
  }
}

.ListMenu--css {
  .ListItem {
    @include onDisplay('right');
    &__sub-menu--top { @include onDisplay('top'); }
    &__sub-menu--bottom { @include onDisplay('bottom'); }
    &__sub-menu--left { @include onDisplay('left'); }
    &:active {
      display: none;
    }
    &:hover {
      >.window {
        visibility: visible;
        display: block;
      }
    }
  }
}
