@import '../colors';
@import '../vars';
@import '../box-shadows';
@import '../images/uris';

$windowPadding: 3px;

@mixin onDisplay($direction: 'right') {
  >.window {
    position: absolute;
    visibility: hidden;
    width: auto;
    transition: max-width cubic-bezier(0.38, 0.01, 0, 1) 200ms,
    max-height cubic-bezier(0.38, 0.01, 0, 1) 200ms;
  }
  &:hover {
    .window {
      width: auto;
    }
  }
  @if $direction  == 'right' {
    >.window {
      left: 100%;
      top: -$windowPadding;
      max-width: 0%;
    }
    &:hover {
      >.window {
        max-width: 400%;
      }
    }
  } @else if $direction  == 'left' {
    >.window {
      left: calc(-100%);
      top: -$windowPadding;
      max-width: 0%;
    }
    &:hover {
      >.window {
        max-width: 100%;
      }
    }
  } @else if $direction  == 'top' {
    >.window {
      bottom: calc(100% + $windowPadding);
      left: 0px;
      height: 0px;
      max-height: 0%;
      max-width: 100%;
    }
    &:hover {
      >.window {
        height: initial;
        max-height: 100%;
      }
    }
  } @else if $direction  == 'bottom' {
    >.window {
      top: calc(100% + $windowPadding);
      left: 0px;
      max-height: 0%;
      max-width: 100%;
    }
    &:hover {
      >.window {
        height: initial;
        max-height: 100%;
      }
    }
  }
}

.ListMenu {
  display: inline-flex;
  flex-direction: column;
  word-wrap: none;
  white-space: nowrap;
  text-overflow: clip;
  .ListItem {
    position: relative;
    &__button {
      position: relative;
      display: block;
      width: 100%;
      padding: 0px 0px 0px 20px;
      text-align: left;
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: 3px center;
      background-color: rgba(0,0,0,0);
      border: none;
      outline: none;
      height: 16px;
      &:after {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        height: 16px;
        width: 16px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .ListItem__text {
        padding: 0px 20px 0px 0px;
      }
      &:hover {
        color: white;
        background-color: $blue;
        &:after {
          filter: invert(100%);
        }
      }
    }
    &--has-options{
      &:after {
        content: '';
        position: absolute;
        background-image: url('../images/arrow-right.gif');
        right: 4px;
        top: 0px;
        height: 100%;
        width: 22px;
        background-position: right center;
        background-repeat: no-repeat;
      }
      &:hover{
        &:after {
          background-image: url('../images/arrow-right-inverted.gif');
        }
      }
    }
    &--radio-selected {
      .ListItem__button:after {
        background-image: url($menu-radio);
      }
    }
    &--checked {
      .ListItem__button:after {
        background-image: url($menu-checked);
      }
      &--disabled {
        .ListItem__button:after {
          background-image: url($menu-checked-disabled);
        }
      }
    }
    &:hover, &:active, &:focus {
      color: white;
      background-color: $blue;
      >.ListItem__button {
        color: white;
      }
    }
  }
  .divider {
    position: relative;
    width: 95%;
    margin: 2px auto;
    border-top: 1px solid $darkgrey;
    border-bottom: 1px solid white;
    display: none;
  }
  .ListItem + .divider {
    &:not(:last-child):not(:first-child) {
      display: block;
    }
  }
}

.ListMenu--css {
  .ListItem {
    @include onDisplay('right');
    &__sub-menu--top { @include onDisplay('top'); }
    &__sub-menu--bottom { @include onDisplay('bottom'); }
    &__sub-menu--left { @include onDisplay('left'); }

    &:active {
      display: none;
    }

    &:hover {
      >.window {
        width: auto;
        visibility: visible;
        display: block;
      }
    }
  }
}
