/* stripe */
/* stripe */
html {
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 200px;
  background-color: #bbc3c4;
  image-rendering: pixelated; }
  html .disabled {
    color: #808088; }
  html button {
    font-size: 10px; }
  html ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: white;
    background-image: url("data:image/gif;base64,R0lGODlhAgACAJEAAAAAAP///8zMzP///yH5BAEAAAMALAAAAAACAAIAAAID1CYFADs="); }
    html ::-webkit-scrollbar-track {
      position: relative; }
    html ::-webkit-scrollbar-thumb {
      background: #bbc3c4;
      box-shadow: inset -1px -1px 0px #808088, inset 1px 1px 0px 0px white;
      border: 1px solid #0c0c0c;
      border-top: 1px solid #bbc3c4;
      border-left: 1px solid #bbc3c4; }
    html ::-webkit-scrollbar-button {
      background: #bbc3c4;
      box-shadow: inset -1px -1px 0px #808088, inset 1px 1px 0px 0px white;
      border: 1px solid #0c0c0c;
      border-top: 1px solid #bbc3c4;
      border-left: 1px solid #bbc3c4; }
      html ::-webkit-scrollbar-button:start:decrement, html ::-webkit-scrollbar-button:end:increment {
        height: 16px;
        width: 16px;
        display: block;
        background-repeat: no-repeat;
        background-color: #bbc3c4; }
        html ::-webkit-scrollbar-button:start:decrement:active, html ::-webkit-scrollbar-button:end:increment:active {
          border: 1px solid #808088;
          box-shadow: none;
          background-color: #bbc3c4; }
      html ::-webkit-scrollbar-button:horizontal:decrement {
        background-image: url("data:image/gif;base64,R0lGODlhBAAHAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAEAAcAAAIIlHEIy7ppBCgAOw==");
        background-position: 4px 3px; }
        html ::-webkit-scrollbar-button:horizontal:decrement:active {
          background-position: 5px 4px; }
      html ::-webkit-scrollbar-button:horizontal:increment {
        background-image: url("data:image/gif;base64,R0lGODlhBAAHAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAEAAcAAAIIhA4maeyrlCgAOw==");
        background-position: 5px 3px; }
        html ::-webkit-scrollbar-button:horizontal:increment:active {
          background-position: 6px 4px; }
      html ::-webkit-scrollbar-button:vertical:decrement {
        background-image: url("data:image/gif;base64,R0lGODlhBwAEAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAHAAQAAAIHlGEJq8sOCwA7");
        background-position: 3px 5px; }
        html ::-webkit-scrollbar-button:vertical:decrement:active {
          background-position: 4px 6px; }
      html ::-webkit-scrollbar-button:vertical:increment {
        background-image: url("data:image/gif;base64,R0lGODlhBwAEAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAHAAQAAAIIhA+CKWoNmSgAOw==");
        background-position: 3px 5px; }
        html ::-webkit-scrollbar-button:vertical:increment:active {
          background-position: 4px 6px; }
    html ::-webkit-scrollbar-corner {
      /*
      background-image: url(resources/corner.png);
      background-repeat: no-repeat;
      */
      background-color: #bbc3c4; }
