@import '../colors';
@import '../box-shadows';
@import '../vars';

.btn {
  border: 0px solid transparent;

  background-color: $grey;
  position: relative;

  &:active, &:focus, &:active:focus {
    outline: none;
  }

  &::before, &::after {
    position: absolute;
    display: block;
    content: '';
  }

  &::before {
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
  }

  &::after{
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
  }


  &--form{
    min-width: 80px;
    padding: 5px 0px;
    @include shadow-black-white;

    &::before {
      @include shadow-darkgrey-grey;
    }

    &:focus {
      outline: black;
      outline-style: dotted;
      outline-offset: -5px;
      outline-width: 1px;
      -moz-outline-radius: 2px;
      @include shadow-black-white;

      &::after {
          @include shadow-black;
      }
      &::before {
          @include shadow-darkgrey-grey;
      }
    }
    &:active:focus {
      padding: 6px 0px 4px 3px;
      @include shadow-black;

      &::before{
        @include shadow-darkgrey;
      }
      &::after {
        box-shadow: none;
      }
    }
  }
  &--nav{
    padding: 0px;
    min-width: initial;
    width: 19px;
    height: 19px;
    margin-left: 2px;
    image-rendering: pixelated;

    img {
      height: 14px;
      width: 14px;
    }
    @include shadow-black-white;
    &:before {
      @include shadow-darkgrey-grey;
    }

    &:focus {
      outline: none;
      border: none;
      &:after {
        box-shadow: none;
      }
    }
    &:active:focus {
      height: 18px;
      padding-top: 2px;
      padding-bottom: 1px;
      padding-left: 4px;
      padding-right: 8px;
      margin-top: -1px;

      @include shadow-white-black;
      &:before {
        @include shadow-grey-darkgrey;
      }
    }
  }
  &--start{
    @include shadow-black-white;
    height: 24px;
    display: flex;
    align-content: center;
    width: 58px;
    padding-right: 6px;
    background-image: url('./start-trans.png');
    background-size: auto 20px;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    &__text {
      font-size: 1rem;
      font-weight: bold;
    }

    &::before {
      @include shadow-darkgrey-grey;
    }

    &:active, &:focus, &:active:focus {
      &::before {
        @include shadow-grey-darkgrey;
      }
      @include shadow-white-black-start;
      background-position: 3px 2px;
      outline: 1px dotted black;
      outline-offset: -4px;
    }
  }
  &--program {
    height: 24px;
    display: flex;
    align-content: center;
    padding: 0px 8px 2px 22px;
    margin-right: 4px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 3px 4px;
    @include shadow-black-white;

    flex: 1 1 140px;
    max-width: 140px;

    &__text {
      width: calc(100% - 30px);
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
    }
    &:before {
      @include shadow-darkgrey-grey;
    }
    &:focus, &:active:focus, &.btn--is-active {
      background-color: white;
      background-position: 5px 5px;
      @include shadow-white-black;
      &:before {
        @include shadow-grey-darkgrey;
        background-image: url('../images/rgba-204-204-204-50.png');
        background-size: 2px;
      }

      padding: 1px 6px 1px 24px;
    }
  }
  &--quick-launch {
    height: 24px;
    width: 24px;
    &:hover {
      @include shadow-darkgrey-white;
    }
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    &:focus, &:active:focus {
      @include shadow-white-darkgrey;
      background-position: 5px 5px;
    }
  }
}
