@import '../colors';
@import '../box-shadows';
@import '../vars';

.btn {
  border: 0px solid transparent;
  background-color: $grey;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:active, &:focus, &:active:focus {
    outline: none;
  }

  &::before, &::after {
    position: absolute;
    display: block;
    content: '';
  }

  &::before {
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
  }

  &::after{
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
  }


  &--form{
    min-width: 80px;
    padding: 5px 0px;
    @include shadow-darkgrey-grey;

    &:after{
      @include shadow-black-white;
    }

    &:focus {
      outline: black;
      outline-style: dotted;
      outline-offset: -5px;
      outline-width: 1px;
      -moz-outline-radius: 2px;
      @include shadow-black-white;

      &:after {
        @include shadow-black;
      }
    }

    &:active:focus, &:active{
      padding: 6px 0px 4px 3px;
      @include shadow-darkgrey;

      &::after {
        @include shadow-black;
      }
    }
  }

  &--nav{
    padding: 0px;
    min-width: initial;
    width: 16px;
    height: 14px;
    margin-left: 2px;
    image-rendering: pixelated;
    @include shadow-black-white;

    &:before {
      @include shadow-darkgrey-grey;
    }

    img {
      height: 14px;
      width: 14px;
    }

    &:focus {
      outline: none;
      border: none;

      &:after {
        box-shadow: none;
      }
    }

    &:active:focus {
      padding-top: 2px;
      padding-bottom: 1px;
      padding-left: 4px;
      padding-right: 8px;
      @include shadow-white-black;

      &:before {
        @include shadow-grey-darkgrey;
      }
    }
  }

  &--start{
    @include shadow-black-white;
    height: 22px;
    display: flex;
    align-content: center;
    width: 52px;
    padding-right: 6px;
    background-image: url('./start-trans.png');
    background-size: auto 18px;
    background-repeat: no-repeat;
    background-position: 2px 1px;

    &__text {
      font-size: 1rem;
      font-weight: bold;
    }

    &::before {
      @include shadow-darkgrey-grey;
    }

    &:active, &:focus, &:active:focus {
      @include shadow-white-black-start;
      background-position: 3px 2px;
      outline: 1px dotted black;
      outline-offset: -4px;

      &::before {
        @include shadow-grey-darkgrey;
      }
    }
  }

  &--program {
    flex: 1;
    margin: 0px 2px;
    height: 22px;
    max-width: 140px;
    min-width: 40px;
    display: inline-block;
    width: 100%;
    padding-top: 2px;
    padding-left: 22px;
    padding-right: 3px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    @include shadow-black-white;

    &:before {
      @include shadow-darkgrey-grey;
    }

    &:active:focus, &.btn--is-active {
      background-position: 5px 5px;
      @include shadow-white-black;
      padding-top: 3px;
      padding-left: 23px;
      padding-right: 2px;

      &::before {
        @include shadow-grey-darkgrey;
      }

      &:before {
        background-size: 2px;
        z-index: -1;
        box-shadow: none;
      }
    }

    &.btn--is-active {
      background-color: transparent;
      font-weight: bold;

      &:before {
        background-color: white;
        background-image: url('../images/rgba-204-204-204-85.png');
      }
    }
  }

  &--quick-launch {
    height: 22px;
    width: 22px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 3px 3px;

    &:hover {
      @include shadow-darkgrey-white;

      &:focus:active, &:active {
        @include shadow-white-darkgrey;
        background-position: 4px 4px;
      }
    }
  }
}
