@import '../colors';
@import '../box-shadows';
@import '../vars';

html{
    font-size: $base-font-size;
}
.btn {
    border: 0px solid transparent;

    background-color: $grey;
    position: relative;

    &:active, &:focus, &:active:focus {
        outline: none;
    }

    &::before, &::after {
        position: absolute;
        display: block;
        content: '';
    }

    &::before {
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
    }

    &::after{
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
    }


    &--form{
        min-width: 80px;
        padding: 5px 0px;
        @include shadow-black-white;

        &::before {
            @include shadow-darkgrey-grey;
        }

        &:focus {
            outline: black;
            outline-style: dotted;
            outline-offset: -5px;
            outline-width: 1px;
            -moz-outline-radius: 2px;
            @include shadow-black-white;
 
            &::after {
                @include shadow-black;
            }
            &::before {
                @include shadow-darkgrey-grey;
            }
        }
        &:active:focus {
            padding: 6px 0px 4px 3px;
            @include shadow-black;

            &::before{
                @include shadow-darkgrey;
            }
            &::after {
                box-shadow: none;
            }
        }
    }
    &--nav{
        padding: 0px;
        min-width: initial;
        width: 19px;
        height: 19px;
        margin-left: 2px;
        image-rendering: pixelated;

        img {
            height: 14px;
            width: 14px;
        }
        @include shadow-black-white;
        &:before {
            @include shadow-darkgrey-grey;
        }

        &:focus {
            outline: none;
            border: none;
            &:after {
                box-shadow: none;
            }
        }
        &:active:focus {
            height: 18px;
            padding-top: 2px;
            padding-bottom: 1px;
            padding-left: 4px;
            padding-right: 8px;
            margin-top: -1px;
            
            @include shadow-white-black;
            &:before {
                @include shadow-grey-darkgrey;
            }
        }
    }
    &--start{
        @include shadow-black-white;
        height: 24px;
        display: flex;
        align-content: center;
        padding-left: 24px;
        padding-right: 6px;
        &__text {
            font-size: 1.3rem;
            font-weight: bold;
        }
        
        &::before {
            @include shadow-darkgrey-grey;
        }

        &:active{
            &::before {
                @include shadow-grey-darkgrey;
            }
            @include shadow-white-black;
        }
    }
}