@import '../../_scss/w98/var/colors';
@import '../../_scss/w98/mixins/box-shadows';
@import '../../_scss/w98/var/var';

.ExplorerWindow {
  &__view {
    min-height: 20px;
    padding: 6px;
    background-color: white;
    @include shadow-input;
  }
  &__details {
    display: flex;
    &__section {
      box-shadow: inset -1px -1px 0px white, inset 1px 1px 0px $darkgrey;
      flex-grow: 1;
      margin-top: 2px;
      height: 16px;

      &:not(:last-child) {
        margin-right: 2px;
      }
    }
  }
  &__headings {
    position: relative;
    box-shadow: inset 0px -1px 0px white, inset 0px -2px 0px $darkgrey, inset 1px 1px 0px $darkgrey, inset -1px -1px 0px $darkgrey, inset 2px 2px 0px white, inset -2px -2px 0px white;
    padding: 1px 3px 0px;
    margin: 2px 0px;
    >div{
      position: relative;
      min-height: 16px;
      padding-left: 12px;
      &:before {
        position: absolute;
        top: 3px;
        left: 2px;
        height: calc(100% - 6px);
        width: 3px;
        background-color: $grey;
        content: '';
        @include shadow-darkgrey-white
      }
      &:not(:last-child) {
        border-bottom: 1px solid $darkgrey;
        box-shadow: inset 0px -1px 0px white;
      }
    }
  }
  &__address {
    display: flex;
    height: 22px;
    overflow-y: visible;
    &__title {
      align-self: center;
      margin-right: 4px;
      padding-bottom: 2px;
    }
    .Select {
      flex-grow: 1;
    }
  }
}
