@import '../colors';
@import '../box-shadows';
@import '../vars';

.taskbar-notifications {
  background-color: $grey;
  display: flex;
  flex: none;
  margin-left: auto;
  align-items: center;
  height: 24px;
  padding: 0px 8px 0px 4px;

  @include shadow-white-darkgrey;

  &__time {
    margin-left: 4px;
  }

  &__notifier {
    height: 18px;
    width: 18px;
    background-color: $grey;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    &:active, &:focus, &:active:focus {
      outline: none;
      sborder: none;
    }
  }
}
