@import '../colors';
@import '../box-shadows';
@import '../vars';

.task-bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    box-shadow: 0px -1px 0px white;
    padding: 2px;
    display: flex;

    >div{
        position: relative;
    }

    >div:not(:last-child)::after{
        position: absolute;
        top: 1px;
        right: 0px;
        height: calc(100% - 2px);
        width: 1px;
        background-color: $darkgrey;
        content: '';
        box-shadow: 1px 0px 0px white;
    }

}