@import '../colors';
@import '../box-shadows';
@import '../vars';

.task-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  max-width: 100%;
  z-index: 10;
  box-shadow: 0px -1px 0px white;
  padding: 2px 0px;
  display: flex;

  >div{
    position: relative;
    height: 24px;
    margin: 0px 2px;
  }
  &__programs {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: nowrap;
    margin-right: 4px;

    &:before {
      display: none;
    }
  }

  >div:not(:last-child){
    padding: 0px 8px;
    &:first-child {
      padding: 0px 3px;
    }
    &::after{
      position: absolute;
      top: 1px;
      right: 0px;
      height: calc(100% - 2px);
      width: 1px;
      background-color: $darkgrey;
      content: '';
      box-shadow: 1px 0px 0px white;
    }
    &::before{
      position: absolute;
      top: 3px;
      right: -6px;
      height: calc(100% - 6px);
      width: 3px;
      background-color: $grey;
      content: '';
      @include shadow-darkgrey-white
    }
  }
}
