@import '../var/colors';

.icon {
  position: relative;
  display: block;
  outline: none;
  background: none;
  border: none;

  &__icon {
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:focus, &:active, &:active:focus, &.is-active {
    outline: none;

    .icon__icon {
      filter: hue-rotate(70deg) contrast(0.3) saturate(2);
    }

    .icon__text {
      background-color: $blue;
      color: white;
      outline: 1px dotted white;
      outline-offset: -1px;
    }
  }
}
