@import '../colors';

.DetailsSection {
  position: relative;
  border: 1px solid white;
  outline: 1px solid darkgrey;
  padding: 5px;
  margin: 16px 8px 8px;

  &__title {
    position: absolute;
    top: -10px;
    padding: 2px 4px;
    background-color: $grey;
  }
}
