@import '../colors';
@import '../box-shadows';

.window {
    position: relative;
    background-color: $grey;
    padding: 3px;
    @include shadow-darkgrey-white;

    &::before, &::after {
        position: absolute;
        display: block;
        content: '';
    }

    &::before {
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        @include shadow-black-grey;
    }

    &__heading {
        display: flex;
        background-color: $blue;
        color: white;
        padding: 3px;
        align-items: center;
    }
    &__title {
        display: flex;
    }
    &__actions {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
}