@mixin shadow-double-color-border($color1, $color2) {
  box-shadow: inset -1px -1px 0px $color1, inset 1px 1px 0px 0px $color2;
}

@mixin shadow-black-grey {
  // window-edge
  @include shadow-double-color-border($black, $grey);
}

@mixin shadow-black-white {
  // button
  @include shadow-double-color-border($black, white);
}

@mixin shadow-black {
  //button outer focus
  @include shadow-double-color-border($black, $black);
}

@mixin shadow-black-grey {
  //button outer focus
  @include shadow-double-color-border($black, $grey);
}

@mixin shadow-grey-darkgrey {
  // button-inner, button inner focus inverse
  @include shadow-double-color-border($grey, $darkgrey);
}

@mixin shadow-darkgrey {
  // button-active
  @include shadow-double-color-border($darkgrey, $darkgrey);
}

@mixin shadow-darkgrey-grey {
  // button-inner focus
  @include shadow-double-color-border($darkgrey, $grey);
}

@mixin shadow-darkgrey-white {
  //shadow-bump
  @include shadow-double-color-border($darkgrey, white);
}

@mixin shadow-white-black {
  // button focus
  @include shadow-double-color-border(white, $black);
}

@mixin shadow-white-black-start {
  // button focus
  box-shadow: inset -1px -1px 0px white, inset 1px 1px 0px 0px $black, 0px -1px 0px $black;
}

@mixin shadow-white-darkgrey {
  //shadow-hollow
  @include shadow-double-color-border(white, $darkgrey);
}
