@import "../../_scss/w98/_buttons";

.ButtonIconLarge {
  @include button-large-icon;
  &__icon {
    flex-grow: 1;
    width: 20px;
    height: 20px;
    margin: 1px auto 0px;
    align-content: center;
  }
}
